$shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
$blue: #50bfe6;
$white: #fff;

.playerScore-wrap {
    width:720px;
    margin:auto;
}

.playerScore-container {
    width: 80%;
    height: 50px;
    background-color: $white;
    padding-top:7px;
    border-radius:5px;
    margin: 0px 20px 10px 40px;
    cursor:pointer;
    font-weight:100;
    box-shadow: $shadow;
}

.playerScore-container:hover {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.playerScore-container-selected {
    width: 80%;
    height: 50px;
    background-color: $white;
    padding-top:7px;
    border-radius:5px;
    margin: 0px 20px 10px 40px;
    cursor:pointer;
    font-weight:100;
    border: 1px solid $blue;
    color: $blue;
}

.playerScore-item {
    width:20%;
    display: inline-block;
}