$blue :#50bfe6;
$white: #fff;

.header-component {
    background-color: $white;
}

.active {
    color: $blue;
}

.header-links {
    display: inline-block;
    margin: 20px 5% 20px 5%;
    a {
        text-decoration: none;
    }
}